<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipselab.eclipsesync.ui.preferences.MainPreferencePage"
            id="org.eclipselab.eclipsesync.ui.preferences.SamplePreferencePage"
            name="%pref.sync.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipselab.eclipsesync.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
